.aa{
    color: rgb(12, 48, 58);
}
a{
    color:rgb(67, 48, 25);
}
a:hover{
    color:rgb(185, 160, 160);
}
.abc{
    float: right;
    width:57%;
    border: 3px solid rgb(67, 48, 25);
    padding: 10px;
    margin: 10px;
    text-align: center
}
.cba{
    border: 3px solid rgb(67, 48, 25);
    padding: 10px;
    margin: 10px;
    text-align: center
}header {
    text-decoration: none;
    
    color: #f4f2f2;
    padding: 20px 0;
   
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

header h1 {
    font-size: 40px;
  
}

header nav{
    text-decoration: none;
    
    color: #f4f2f2;
    background-color: #050f33;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header nav ul li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
header nav ul li a {
    color: #f0eeee;
    text-decoration:none;
    font-weight:700;
    background-color: #050f33;
    border-radius: 3px;
    padding: 2px;
    font-size: 20px;
    }
    

header nav ul li a:hover{
    text-shadow: 0 0 5px #fff,

    0 0 10px #fff,

    0 0 20px rgb(234, 240, 234,0.5),

    0 0 30px rgb(233, 238, 233,0.5),

    0 0 40px rgb(243, 249, 243,0.5),

    0 0 55px rgb(226, 232, 226,0.5),

    0 0 70px rgb(235, 242, 235,0.5);
    transition: all 0.3s ease;
}
hr{
    border: 1.5px solid rgb(67, 48, 25);
}
footer{
    background-color: #050f33;
    color:bisque;
}
.krish a{
    color:coral;
    
}
.krish a:hover{
    color:bisque;
}
