* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Body styles */
body  {
    font-family:'Trebuchet MS';
    background-color:honeydew;
    background-image: url('yoga3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

    background-position: center;
    font-size: 18px;
}
.class10{
    background-image: url('yoga7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.class11{
    background-image: url('yoga8.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    background-color:black;
}
    

header nav ul li a :hover{
    text-shadow: 0 0 5px #fff,

    0 0 10px #fff,

    0 0 20px rgb(234, 240, 234),

    0 0 30px rgb(233, 238, 233),

    0 0 40px rgb(243, 249, 243),

    0 0 55px rgb(226, 232, 226),

    0 0 70px rgb(235, 242, 235);
    transition: all 0.3s ease;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 120px;
    cursor: pointer;
    color: aliceblue;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: azure;
    font-size: 17px;
}

/* Main container styles */
.signup-container,.login-container,.profile-container {
    max-width: 650px;
    margin: 100px auto;
   
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #ffffff90;
    
    
}
#signup-form,#login-form,#profile-form{
    padding:0 150px;
}


/* Section styles */
section {
    padding: 50px 0;
}

section h2 {
    margin-bottom: 20px;
}


h2 {
    background-color:rgba(13, 199, 246, 0.455) ;
    width: 100%;
    border-radius: 2px;
    padding: 2px;
    padding-left: 10px;
    position: relative; 
}
.proclass{
    background-color:rgba(70, 162, 184, 0.455) ;
}

h2::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background-color: rgba(18, 44, 67, 0.422) ;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

h2:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
h2:hover{
    text-shadow: 0 0 5px #fff,

    0 0 10px #fff,

    0 0 20px rgb(234, 240, 234,0.5),

    0 0 30px rgb(233, 238, 233,0.5),

    0 0 40px rgb(243, 249, 243,0.5),

    0 0 55px rgb(226, 232, 226,0.5),

    0 0 70px rgb(235, 242, 235,0.5);
    transition: all 0.3s ease;
}

input[type="text"],
input[type="password"] {
  width: 50%;
  padding: 4px;
  padding-left: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* For screens smaller than 768px (tablets) */
@media screen and (max-width: 768px) {
    .signup-container,.login-container,.profile-container {
      margin: 50px auto; /* Center the form */
      width: 80%; /* Adjust width */
      padding: 20px;
    }
    #signup-form,#login-form,#profile-form {
      padding: 0; /* Remove horizontal padding */
    }
    input[type="text"],
    input[type="password"] {
      width: 80%; /* Full width */
      padding-left: 20px;
    }
  }
  
  /* For screens smaller than 480px (phones) */
  @media screen and (max-width: 480px) {
    .signup-container {
        
      background-size: auto;
      margin: 30px auto; /* Center the form */
      width: 90%; /* Adjust width */
    }
  }
  
#signup,#login,#edit-btn,#logout-btn,#save-btn{
    background-color:rgb(47, 90, 107) ;
    color:lightyellow;
    width:100px;
    height: 40px;
    border-radius: 3px;
    font-size: 20px;
   

}
#save-btn{

}
#signup:hover,#login:hover,#edit-btn:hover,#save-btn:hover,#logout-btn:hover{
    background-color:rgb(18, 44, 67) ;
    text-shadow: 0 0 5px #fff,

    0 0 10px #fff,

    0 0 20px rgb(234, 240, 234,0.2),

    0 0 30px rgb(233, 238, 233,0.2),

    0 0 40px rgb(243, 249, 243,0.2),

    0 0 55px rgb(226, 232, 226,0.2),

    0 0 70px rgb(235, 242, 235,0.2);
    transition: all 0.3s ease;


}
.class1{
    text-decoration: underline;
    color: #0d0000;
}
.class1:hover{
    text-decoration:underline;
    background-color:lightcyan ;
}



/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .login-container {
        
        margin: 50px auto;
        width: 80%;
    }
    .login-container input[type="text"],
    .login-container input[type="password"] {
        width: 80%;
        padding-left: 20px;
    }
    #login,#signup,#edit-btn,#save-btn{
        margin-left:0px ;
        

    }

}

@media screen and (max-width: 480px) {
    .login-container {
        background-size: auto;
        margin: 30px auto;
        width: 90%;
    }
    #login,#signup,#edit-btn,#save-btn{
       
        margin-left:250px;

    }
}
.logo {
    width: 100px;
    height: auto;
    margin: 20px;
    
}
#email{
    width:250px;
    height: 30px;
}
#age{
    width:50px;
    height: 30px;
}
 
